*.8
*.lo
*.o
/config.h
/config.log
/config.status
/doc/Makefile
/include/Makefile
/include/ntfs/Makefile
/libntfs/.deps/
/libntfs/Makefile
/libntfs/libntfs.conf
/libntfs/libntfs_la-logging.loT
/libtool
/ntfsprogs/.deps/
/ntfsprogs/Makefile
/stamp-h1
/test/.deps/runlist.Po
/test/Makefile
/ntfsprogs/.libs/
/ntfsprogs/mkntfs
/ntfsprogs/ntfscat
/ntfsprogs/ntfsclone
/ntfsprogs/ntfscluster
/ntfsprogs/ntfscmp
/ntfsprogs/ntfscp
/ntfsprogs/ntfsfix
/ntfsprogs/ntfsinfo
/ntfsprogs/ntfslabel
/ntfsprogs/ntfsls
/ntfsprogs/ntfsresize
/ntfsprogs/ntfsundelete