*.8
*.lo
*.o
/config.h
/config.log
/config.status
/doc/Makefile
/include/Makefile
/include/ntfs/Makefile
/libntfs/.deps/
/libntfs/Makefile
/libntfs/libntfs.conf
/libntfs/libntfs_la-logging.loT
/libtool
/ntfsprogs/.deps/
/ntfsprogs/Makefile
/stamp-h1
/test/.deps/runlist.Po
/test/Makefile